<h3>New Sprint</h3>
<table class="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Product</th>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <th>Sprint Length (Days)</th>
            <td><input type="number" [(ngModel)]="sprint.sprintLength" name="sprintLength"></td>
        </tr>
        <tr>
            <th>Max Points (Days * 8)</th>
            <td><input type="number" [(ngModel)]="sprint.maxPoints" name="maxPoints"></td>
        </tr>
        <tr>
            <th>Total Points</th>
            <td><input disabled type="number" [(ngModel)]="sprint.totalPoints" name="totalPoints"></td>
        </tr>
        <tr>
            <th>Remaining Points ((Days * 8) - Total Points)</th>
            <td><input type="number" [(ngModel)]="sprint.remainingPoints" name="remainingPoints"></td>
        </tr>
        <tr>
            <th>Total Time</th>
            <td><input disabled type="number" [(ngModel)]="sprint.totalTime" name="totalTime"></td>
        </tr>
    
    </tbody>
</table>
<button (click)="save()">Save</button>