<h3>Products</h3>
<input type="text" [(ngModel)]="searchCriteria" placeholder="Search">
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th><button id="column" class="btn btn-link" (click)="sortFn('id')">Id</button></th>
            <th><button id="column" class="btn btn-link" (click)="sortFn('name')">Name</button></th>
            <th>Owner</th>
            <th>Team</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products | sort:sortColumn:sortAsc | productlistSearch:searchCriteria">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td *ngIf="p.teamMember">{{p.teamMember.name ? p.teamMember.name : "None"}}</td>
            <td>
                <tr *ngFor="let t of p.teams">{{t.name}}</tr>
            </td>
            <td>
                <button routerLink="/product/detail/{{p.id}}">Detail</button>
                <button routerLink="/product/edit/{{p.id}}">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<button routerLink="/product/create">New Product</button>