<h3>New Story</h3>
<table class="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Product</th>
            <td *ngIf="product">{{product.name}}</td>
        </tr>
        <tr>
            <th>User</th>
            <td><input type="text" [(ngModel)]="story.user" name="user"></td>
        </tr>
        <tr>
            <th>Feature</th>
            <td><input type="text" [(ngModel)]="story.feature"></td>
        </tr>
        <tr>
            <th>Value</th>
            <td><input type="text" [(ngModel)]="story.value"></td>
        </tr>
        <tr>
            <th>Importance</th>
            <td>
                <select [(ngModel)]="story.importance">
                    <option value="Critical">Critical</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Estimated Points</th>
            <td><input type="number" [(ngModel)]="story.estimatedPoints"></td>
        </tr>
    </tbody>
</table>
<button (click)="save()">Save</button>