<h3>Edit Team Member</h3>
<table class="table table-sm table-striped">
    <tbody *ngIf="teamMember">
        <tr>
            <th>Id</th>
            <td><input disabled type="number" [(ngModel)]="teamMember.id" name="id"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input type="text" [(ngModel)]="teamMember.name" name="name"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="text" [(ngModel)]="teamMember.email" name="email"></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" [(ngModel)]="teamMember.password" name="password"></td>
        </tr>
        <tr>
            <th>Role</th>
            <td>
                <select [(ngModel)]="teamMember.role" name="role">
                    <option value="Developer">Developer</option>
                    <option value="Scrum Master">Scrum Master</option>
                    <option value="Product Owner">Product Owner</option>
                    <option value="INACTIVE">INACTIVE</option>
                </select>
            </td>
        </tr>
        <tr >
            <th>Strengths</th>
        
                 
            <table class="table table-sm table-striped">
                <tbody *ngIf="teamMember.strengthList.length != 0; else elseBlock">
                    <tr *ngFor="let s of teamMember.strengthList">
                        <td>{{s.strength.strengthName}}</td>
                        <td><select  [(ngModel)]="s.strengthId">
                            <option *ngFor="let x of strengths" [value]="x.id">{{x.strengthName}}</option>
                        </select></td>
                    </tr>
                </tbody>
                <ng-template #elseBlock><button routerLink="/strengthlist/create/{{teamMember.id}}">Add Strengths</button></ng-template>
            </table>
        </tr>
    </tbody>
</table>
<button (click)="save()">Save</button>